*.pyc
AnalyticsEngine/
ds/
expts/
.DS_store
output/
.ipynb_checkpoints/
*.idea
.tox/
.idea/
.eggs/
.cache/
*.egg-info/
.coverage
htmlcov/
docs/doctrees/
docs/_build/
docs/html/_sources
.build
coverage.xml
test_out.xml
cover
.scannerwork
src/.scannerwork
data/out
report
local_notes
venv*
notes
